networks:
  dockernet:
    name: dockernet
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/24
          gateway: 172.18.0.1

services:
  # Proxy from host to service (SSL frontend)
  haproxy:
    image: haproxy:3.0.12-alpine
    container_name: haproxy
    user: haproxy
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - ./_configs/ssl.pem:/usr/local/etc/haproxy/ssl.pem
      - ./_configs/container_hosts:/etc/hosts
    networks:
      dockernet:
        ipv4_address: 172.18.0.2
    ports:
      - "80:80" # HTTP
      - "443:443" # HTTPS
      - "8443:8443" # HTTPS (external)
      - "1024:1024" # Stats page
    restart: unless-stopped

  n8n:
    image: n8nio/n8n:1.123.3
    container_name: n8n
    restart: unless-stopped
    volumes:
      - ./n8n:/home/node/.n8n
      - ./_configs/ssl.crt:/home/node/ssl.crt
      - ./_configs/ssl.key:/home/node/ssl.key
      - ./_configs/ssl.key:/home/node/ssl.key
      - ./_configs/container_hosts:/etc/hosts
    environment:
      - GENERIC_TIMEZONE=America/Vancouver
      - TZ=America/Vancouver
      - N8N_PROTOCOL=https
      - N8N_HOST=n8n.local
      - N8N_LISTEN_ADDRESS=0.0.0.0
      - N8N_PORT=443
      - N8N_SSL_CERT=/home/node/ssl.crt
      - N8N_SSL_KEY=/home/node/ssl.key
      - N8N_RUNNERS_ENABLED=true
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
      - DB_TYPE=sqlite
      - DB_SQLITE_POOL_SIZE=1
      - DB_SQLITE_VACUUM_ON_STARTUP=true
    networks:
      dockernet:
        ipv4_address: 172.18.0.3

  redis:
    image: redis:7.2
    container_name: redis
    restart: unless-stopped
    volumes:
      - ./redis/db:/data
      - ./_configs/container_hosts:/etc/hosts
    networks:
      dockernet:
        ipv4_address: 172.18.0.4

  redisinsight:
    image: redis/redisinsight:2.70.1
    container_name: redisinsight
    restart: unless-stopped
    volumes:
      - ./redis/insight:/data
      - ./_configs/container_hosts:/etc/hosts
    environment:
      - RI_REDIS_HOST=redis
      - RI_REDIS_PORT=6379
      - RI_REDIS_USERNAME=default
    networks:
      dockernet:
        ipv4_address: 172.18.0.5

  mariadb:
    image: mariadb:11.8.5
    container_name: mariadb
    restart: unless-stopped
    volumes:
      - ./mariadb/conf:/etc/mysql/conf.d
      - ./mariadb/store:/var/lib/mysql
      - ./mariadb/backup:/backup
      - ./_configs/container_hosts:/etc/hosts
    environment:
      - MARIADB_ROOT_PASSWORD=P@ssw0rd
    networks:
      dockernet:
        ipv4_address: 172.18.0.6
    ports:
      - 3306:3306

  milvusadmin:
    image: zilliz/attu:v2.6.2
    container_name: milvus-attu
    restart: unless-stopped
    volumes:
      - ./_configs/container_hosts:/etc/hosts
    environment:
      MILVUS_URL: milvus:19530
    networks:
      dockernet:
        ipv4_address: 172.18.0.7

  milvusetcd:
    image: quay.io/coreos/etcd:v3.5.25
    container_name: milvus-etcd
    restart: unless-stopped
    volumes:
      - ./milvus/etcd:/etcd
      - ./_configs/container_hosts:/etc/hosts
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    command: etcd -advertise-client-urls=http://etcd:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    networks:
      dockernet:
        ipv4_address: 172.18.0.8

  milvusminio:
    image: minio/minio:RELEASE.2024-12-18T13-15-44Z
    container_name: milvus-minio
    restart: unless-stopped
    volumes:
      - ./milvus/minio:/minio_data
      - ./_configs/container_hosts:/etc/hosts
    environment:
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
    command: minio server /minio_data --console-address ":9001"
    networks:
      dockernet:
        ipv4_address: 172.18.0.9

  milvusstandalone:
    image: milvusdb/milvus:v2.6.7
    container_name: milvus-standalone
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
    depends_on:
      - "milvusetcd"
      - "milvusminio"
    volumes:
      - ./milvus/standalone:/var/lib/milvus
      - ./_configs/container_hosts:/etc/hosts
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
      MQ_TYPE: woodpecker
    command: /tini -- milvus run standalone
    networks:
      dockernet:
        ipv4_address: 172.18.0.10
